<div class="text-center">
<mat-toolbar color="primary">  
    Outreach 
</mat-toolbar>

<mat-card>
    <br/>
  <!-- Title of an Card -->  
    Login into Outreach 
  <!-- Actual content starts from here -->
  <br/><br/>
  <mat-card-content>
    <div class="alert alert-danger" *ngIf=loginError><strong>Login failed!</strong> Please check your username and password.</div>
    <div *ngIf=loginError><br/></div>    
    <div align="center">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onFormSubmit(loginForm.value)">
        <mat-form-field appearance="outline">
          <mat-label>User ID</mat-label>
          <input id="userID"
            formControlName="userID"
            matInput
            placeholder="please enter your user id" required 
          />
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input id="password"
            formControlName="password"
            matInput type="password"
            placeholder="please enter your password" required
          />
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" mat-button>Submit</button>
        </mat-card-actions>
      </form>
    </div>   
  </mat-card-content>
</mat-card>
</div>